NEXT_PUBLIC_SUPABASE_URL=https://ieqaombgxdqagtdyhwqq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllcWFvbWJneGRxYWd0ZHlod3FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMzYxNTQsImV4cCI6MjA5NzgxMjE1NH0.aHn5G5-hH7UhOKfd_POZ4-HijcYcAZ3hpsB6WsYHIec
